{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap %}

{% block contenido %}
<div class="card">
	<div class="card-header text-center">
		<p class="page-header"></p>
		<p class="text-center sub-style2">INDICADORES DE DESEMPEÑO</p>
	</div>
	<div class="card-block">
	<div class="box box-primary  with-border">
	<div class="box-body">
	{% if mensaje %}
		<div id="mensaje">
			{% if mensaje == 'exito' %}
				<h4><span class="badge badge-success">El registro se Actualizo correctamente</span></h4>
			{% elif mensaje == 'error' %}
				<h4><span class="badge badge-danger">Error! Contactese con el administrador</span></h4>
			
			{% endif %}
		</div>
		
	{% endif %}
	<div>
			<a href="{% url 'subprocesos' request.session.proceso %}"><span>Regresar</span></a>
	</div>

<!-- 	<div id="indicador" class="indicador_copia" style="display: none">
			<hr>
		<div class="row">
  		<div class="col-sm-6">
  			{{formulario.descripcion|bootstrap_horizontal:'col-xs-4'}}
  		</div>
  		</div>
  		<div class="row">
  		<div class="col-sm-6">
  			{{formulario.definicion|bootstrap_horizontal:'col-xs-4'}}
  		</div>

	  	</div>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			{{formulario.aceptable|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  		<div class="col-sm-6">
	  			{{formulario.inaceptable|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  	</div>

	  	<div class="row">
	  		<div class="col-sm-6">
	  			{{formulario.periodo_medicion|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  		
	  	</div>
			<div class="col-sm-6">
                <button type="button" class="btn btn-danger eliminar pull-right">Eliminar</button>
            </div>
	</div> -->
	<form action="" method="POST" accept-charset="utf-8" class="form-horizontal" id="formulario" enctype='multipart/form-data'>
		{% csrf_token %}
		<div class="row" >
      <!--   <div class="col-sm-6">
       <button type="button" class="btn btn-success pull-right" id='agregar_indicador'>Agregar</button>
       <br>
      </div> -->
     </div>

	  <div id="indicador" class="primer_indicador">
	  	<hr>
	  	<div>
	  		<div class="col-sm-6">
	  			{{formulario.descripcion|bootstrap_horizontal:'col-xs-4'}}
	  		</div>
	  	</div>
	  	<div class="row">
	  		
	  		<div class="col-sm-6">
	  			{{formulario.definicion|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  	</div>
	  	<div class="row">
	  		<div class="col-sm-6">
	  			{{formulario.aceptable|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  		<div class="col-sm-6">
	  			{{formulario.inaceptable|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  	</div>

	  	<div class="row">
	  		<div class="col-sm-6">
	  			{{formulario.periodo_medicion|bootstrap_horizontal:'col-xs-4'}}
	  		</div>

	  		
	  	</div>

	  	<!-- <div class="col-sm-6">
	  		<button type="button" class="btn btn-danger eliminar pull-right">Eliminar</button>
	  	</div> -->
	  </div>


     <div id="indicadores"></div>
     <br>
     <button type="submit" class="btn btn-default">Guardar</button>
	</form>
	</div>
	</div>
	</div>
</div>

<!-- <script>

  

$(document).ready(function() {
	$('#agregar_indicador').click(function(){
  
        $('#indicador').clone().removeAttr('style').appendTo( '#indicadores' );
        $('.eliminar').click(function(){
            var id = $(this).closest("div#indicador").remove();
        })

  
    })

	$('.eliminar').click(function(){
	        var id = $(this).closest("div#indicador").remove();
	    });
	$('input[name=descripcion]').attr('name', 'descripcion[]');
	$('textarea[name=definicion]').attr('name', 'definicion[]');
	$('textarea[name=aceptable]').attr('name', 'aceptable[]');
	$('textarea[name=inaceptable]').attr('name', 'inaceptable[]');
	$('input[name=periodo_medicion]').attr('name', 'periodo_medicion[]');

});

</script> -->




{% endblock %}