{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block contenido %}

<style type="text/css" media="screen">
.sub-style2 {
                        font-family: Tahoma, Verdana, Segoe, sans-serif;
                        /*color: #0000cc;*/
                        color:  #b8b894;
                        font-size: 14;
                        font-weight: bold;
                      }
 .warning {
    background-color: #ff9800;
}
</style>

<link rel="stylesheet" href="{% static 'vendors/bower_components/flatpickr/dist/flatpickr.min.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/bower_components/select2/dist/css/select2.min.css' %}">
<script src="{% static 'vendors/bower_components/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/trumbowyg/dist/plugins/table/trumbowyg.table.js' %} "></script>
<script src="{% static 'vendors/bower_components/trumbowyg/dist/plugins/table/trumbowyg.table.min.js' %}"></script>
<script src="{% static 'vendors/bower_components/select2/dist/js/select2.full.min.js' %}"></script>


<div class="card">	
	
	<div class="card-block">
		<div class="box box-primary with-border">
		<div class="box box-body">
			{% if mensaje %}
		<div id="mensaje">
			{% if mensaje == 'exito' %}
			<h4><span class="badge badge-success">El registro se guardo correctamente</span></h4>
			{% elif mensaje == 'error' %}
			<h4><span class="badge badge-danger">Error! Contactese con el administrador</span></h4>

			{% endif %}
		</div>
		{% endif %}
		<div>
			<a href="{% url 'subprocesos' request.session.proceso %}"><span>Regresar</span></a>
			<!-- <input type="hidden"  name="subproceso" value="{{subproc}}" id=id_subproceso> -->
		</div>	
	 <form action="" method="POST" accept-charset="utf-8" enctype='multipart/form-data'>
                                {% csrf_token %}
                                <input type="hidden" name="metodo" value="subproceso">
                              
                                <div class="row">
                                <div class="col-sm-5">
                                    

								<div class="form-group">
								    
								        
								            <label class="control-label col-xs-4 " for="id_duenosubproceso">Dueño(s) del Subproceso</label>
								        

								        <div class=" col-xs-8 ">
								           <select class="select2 select2-hidden-accessible" multiple="" data-placeholder="Seleccione el/los dueño(s) del subproceso" tabindex="-1" aria-hidden="true" id="id_duenosubproceso" name="descpuesto" style=" width: 295.55px;height: 34px; ">
                                            <option value="">---------------</option> 
                                        
                                     </select>
    
								     </div>
								    
								</div>

                                </div>
                                </div>
                                <div class="row">
                                <div class="col-sm-5">
                                    {{formulario.orden_subproceso|bootstrap_horizontal:'col-xs-4'}}
                                </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                    {{formulario.descsubproceso|bootstrap_horizontal:'col-xs-4'}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                    {{formulario.observaciones|bootstrap_horizontal:'col-xs-4'}}
                                    </div>
                                </div>

                                <!-- <div class="row">
                                    <div class="col-sm-12">
                                    <label for="fecha_implementacion">Fecha de Implementacion</label>
                                    <input type="text" class="form-control datetime-picker flatpickr-input active" placeholder="Pick a date &amp; time" readonly="readonly" name="fecha_implementacion" id="fecha_implementacion">
                                    <input type="text" class="form-control date-picker flatpickr-input active" placeholder="Pick a date" readonly="readonly" name="fecha_implementacion" id="fecha_implementacion">
                                    </div>
                                </div> -->
                                <br>
  								<div class="form-group">
                                                      <label for="exampleInputFile">Flujograma</label>
                                                      <input type="file" id="exampleInputFile" name="flujograma">

                                                      
                               </div>

                                                    <!-- <button type="submit" class="btn btn-success pull-right btndiagrama" data-id="{{data.pk}}" id="btndiagrama">Subir Diagrama</button>
                                                    
                                                    <input type="hidden" name="subproceso_iddg" id="subproceso_iddg" value="{{data.pk}}">
                                                     <input type="hidden" name="metodo" value="guardar_diagrama"> -->

                             
                                
                                <button type="submit" class="btn btn-default" id="btnsubprocesos">Agregar</button>
                            </form>
							
		</div>
		</div>
	</div>
<div id="cod_proceso" class="invisible">{{instanciap.pk}}</div>
		

		<!-- Modal -->
			<div id="modalagrega" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal Content -->
					<div class="modal-content">
						<div class="modal-header center-block">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Ingreso Subprocesos</h4>
						</div>
						<div class="modal-body">
							<form action="" method="POST" accept-charset="utf-8">
								{% csrf_token %}
								<input type="hidden" name="metodo" value="subproceso">
								<div class="row">
								<div class="col-sm-6">
									{{puesto.descpuesto|bootstrap_horizontal:'col-xs-4'}}
								</div>
								<div class="col-sm-6">
									{{formulario.orden_subproceso|bootstrap_horizontal:'col-xs-4'}}
								</div>
								</div>
								
								<div class="row">
									<div class="col-sm-12">
									{{formulario.descsubproceso|bootstrap_horizontal:'col-xs-4'}}
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
									{{formulario.observaciones|bootstrap_horizontal:'col-xs-4'}}
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
									<label for="fecha_implementacion">Fecha de Implementacion</label>
									<!-- <input type="text" class="form-control datetime-picker flatpickr-input active" placeholder="Pick a date &amp; time" readonly="readonly" name="fecha_implementacion" id="fecha_implementacion"> -->
									<input type="text" class="form-control date-picker flatpickr-input active" placeholder="Pick a date" readonly="readonly" name="fecha_implementacion" id="fecha_implementacion">
									</div>
								</div>

								<div class="row">
									<div class="col-sm-12">
										{{formulario.anexo|bootstrap_horizontal:'col-xs-4'}}
									</div>
								</div>


								
								<button type="submit" class="btn btn-default" id="btnsubprocesos">Agregar</button>
							</form>
							
							
						</div>
						<div class="modal-footer">
							
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>

</div>



	<script>
	
		
	
	$('#id_fecha_implementacion').flatpickr({
	  	format: 'yyyy-mm-dd',
	  	language: 'es',
	  	autoclose: true,
	});


	$(document).ready(function() {
		$("#exampleInputFile").removeClass("required");
		$.ajax({
		url: "{% url 'ajaxPuestos' %}",
		type: 'GET',
		data: {puesto: ''},
	})
	.done(function(response) {
		 $.each(response, function(index, val) {
	            $('#id_duenosubproceso').append("<option value="+val.pk+">" + val.descpuesto + "</option>");
	           
	                });
	                  // $('#id_actividad').trigger("chosen:updated");
	                  $('#id_duenosubproceso').trigger("chosen:updated");
	})
	
	});
	
	
	
	</script>
{% endblock %}