{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap %}

{% block contenido %}
<div class="card">
	<div class="card-header text-center">
		<p class="page-header"></p>
		<p class="text-center sub-style2">EDITAR CRITERIOS DE IMPACTO</p>
	</div>
	<div class="card-block">
		<div class="box box-primary  with-border">
	<div class="box-body">
	{% if mensaje %}
		<div id="mensaje">
			{% if mensaje == 'exito' %}
				<h4><span class="badge badge-success">El registro se Actualizo correctamente</span></h4>
			{% elif mensaje == 'error' %}
				<h4><span class="badge badge-danger">Error! Contactese con el administrador</span></h4>
			
			{% endif %}
		</div>
		
	{% endif %}
	<div>
			<a href="{% url 'criterios_impacto' %}"><span>Regresar</span></a>
	</div>
	<form action="" method="POST" accept-charset="utf-8" class="form-horizontal">
		{% csrf_token %}
				
		<div class="row">
									
									<div class="col-sm-5">
									

									<div class="form-group">
			    
			        
			            			<label class="control-label col-xs-4 " for="id_criterio">Criterio</label>
			        

			        				<div class=" col-xs-8 ">
			            			<input class=" form-control" id="id_criterio" maxlength="200" name="criterioname" type="text" required="" value="{{instancia.criterio}}" readonly="True">

			            
			        				</div>
			    
									</div>

								</div>
								</div>
		

		<div class="col-sm-5">
			{{formulario.puntaje|bootstrap_horizontal:'col-xs-4'}}
		</div>
		<div class="col-sm-5" hidden="True">
			{{formulario.criterio|bootstrap_horizontal:'col-xs-4'}}
		</div>

			<div class="col-sm-5">
			{{formulario.puntaje_especial|bootstrap_horizontal:'col-xs-4'}}
		</div>
			
		<button type="submit" class="btn btn-default">Guardar</button>
	</form>
	</div>
	</div>
	</div>
</div>

<script>
	$(document).ready(function(){
    $("#btnagrega").click(function(){
        $("#modalagrega").modal();
    });

    $("#btnedita").click(function(){
    	$("#modaledita").modal();	
    });
});
</script>
{% endblock %}