{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap %}

{% block contenido %}
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
	<style type="text/css" media="screen">
   
   .largo{
      width: 250px;
      font-size: 13px;
   }

   .sub-style2 {
                        font-family: Tahoma, Verdana, Segoe, sans-serif;
                        color: #0000cc;
                        font-size: 14;
                        font-weight: bold;
                      }
    .sub-style3 {
                        font-family: Tahoma, Verdana, Segoe, sans-serif;
                        color: #9999ff;
                        font-size: 14;
                        font-weight: bold;
                      }
    
	</style>

	<div class="box box-primary  with-border">
	<div class="box-body">
	

	<div class="card">
	<div class="card-header text-center">
		<p >
		<h3 class="text-center sub-style2">Menu de Administracion de Catalogos</h3>
	</p>
	
	</div>
    <p >
        
    </p>

    <div class="container">
      <h5 class="text-center sub-style3">General</h5>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-success btn-lg largo" type="button" id="btnTipoarea">Tipos de Areas</button>
        
        <button class="btn btn-success btn-lg largo" type="button" id="btnArea">Areas</button>
        
        <button class="btn btn-success btn-lg largo" type="button" id="btnPuesto">Puestos</button>

        <button class="btn btn-success btn-lg largo" type="button" id="btnTiporaci">Roles de Matriz RACI</button>
        
        
        <br>
        <br>
        
        <button class="btn btn-success btn-lg largo" type="button" id="btnTipoactividad">Tipos de Actividades</button>

        <button class="btn btn-success btn-lg largo" type="button" id="btnriesgos">Categoria de Riesgos</button>

        <button class="btn btn-success btn-lg largo" type="button" id="btnEscenariosriesgos">Escenarios de Riesgos</button>

        <button class="btn btn-success btn-lg largo" type="button" id="btnTiporiesgo">Tipos de Riesgos</button>
        <br><br>
        <button class="btn btn-success btn-lg largo" type="button" id="btnUnidadesMedida">Unidades de Medida</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnZonasRiesgo">Zonas de Riesgo</button>
        <br>
        <br>
        <br>

        </div>
      </div>
    </div>

    <div class="container">
      <h5 class="text-center sub-style3">Probabilidad</h5>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
        <button class="btn btn-success btn-lg largo" type="button" id="btnCriteriosProbabilidad">Criterios Probabilidad</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnFrecuenciaActividadesRiesgo">Frecuencia de Actividades de Riesgos</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnAreasInvolucradas">Areas Involucradas</button>
         <button class="btn btn-success btn-lg largo" type="button" id="btnDefinicionProcesos">Definicion de Procesos</button>
         <br><br>
          <button class="btn btn-success btn-lg largo" type="button" id="btnEventosRiesgo">Eventos de Riesgo</button>
          <button class="btn btn-success btn-lg largo" type="button" id="btnEscalaProbabilidad">Escala de Probabilidad</button>
        <br><br><br>
        </div>
        </div>
        </div>
        
        <div class="container">
      <h5 class="text-center sub-style3">Impacto</h5>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-success btn-lg largo" type="button" id="btnCriteriosImpacto">Criterios Impacto</button>
            <button class="btn btn-success btn-lg largo" type="button" id="btnRiesgoReputacional">Riesgo Reputacional</button>
            <button class="btn btn-success btn-lg largo" type="button" id="btnRiesgoInstitucional">Riesgo Institucional</button>
            <button class="btn btn-success btn-lg largo" type="button" id="btnTipoproceso">Tipos de Procesos</button>
            <br><br>
             <button class="btn btn-success btn-lg largo" type="button" id="btnTransaccionesEstadosFinancieros">Transacciones de Estados Financieros</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnCumplimientoNormativo">Cumplimiento Normativo</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnEscalaImpacto">Escala de Impacto</button>
        <br><br><br>
        </div>
       </div>
    </div>

    <div class="container">
      <h5 class="text-center sub-style3">Controles</h5>
      <br>
      <div class="panel panel-default">
        <div class="panel-body">
        <button class="btn btn-success btn-lg largo" type="button" id="btnCriteriosControl">Criterios de Control</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnTipocontrol">Tipos de Controles</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnNaturalezacontrol">Naturaleza de Controles</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnFrecuenciaControles">Frecuencia de Controles</button>
        <br><br>
        <button class="btn btn-success btn-lg largo" type="button" id="btnObservacionesAuditoria">Observaciones de Auditoria</button>
        <button class="btn btn-success btn-lg largo" type="button" id="btnEscalaControl">Escala de Control</button>
        </div>
      </div>
    </div>    





	<div class="card-block text-center">
	
        
		
      
       
        
        
        
        <br><br>
        <p >
        
    </p>
       
        
       
       
       
        
       
        
       
        <br><br>
        
        
        
        <br><br>
        
        
		
	</div>
	</div>
		
     </div>
    </div>
    <br><br>
    </div>

    <script type="text/javascript">
    	$('#btnTipoarea').click(function () {
    		window.location.href = "{% url 'tipo_area' %}";
    	})

    	$('#btnArea').click(function () {
    		window.location.href = "{% url 'areas' %}";
    	})
    	$('#btnPuesto').click(function () {
    		window.location.href = "{% url 'puestos' %}";
    	})
    	$('#btnTipoproceso').click(function () {
    		window.location.href = "{% url 'tipoproceso' %}";
    	})
    	$('#btnTipoactividad').click(function () {
    		window.location.href = "{% url 'tipoactividad' %}";
    	})
    	$('#btnTipocontrol').click(function () {
    		window.location.href = "{% url 'tipocontrol' %}";
    	})
    	$('#btnTiporaci').click(function () {
    		window.location.href = "{% url 'tiporaci' %}";
    	})
    	$('#btnTiporiesgo').click(function () {
    		window.location.href = "{% url 'tiporiesgos' %}";
    	})
    	$('#btnriesgos').click(function () {
    		window.location.href = "{% url 'categoriariesgos' %}";
    	})
    	$('#btnNaturalezacontrol').click(function () {
    		window.location.href = "{% url 'naturalezacontrol' %}";
    	})
    	$('#btnEscenariosriesgos').click(function () {
    		window.location.href = "{% url 'escenarioriesgos' %}";
    	})
        $('#btnTiporaci').click(function () {
            window.location.href = "{% url 'tiporaci' %}";
        })
        $('#btnRiesgoInstitucional').click(function(event) {
            window.location.href = "{% url 'riesgoinstitucional' %}"
        });
        $('#btnRiesgoReputacional').click(function(event) {
            window.location.href = "{% url 'riesgoreputacional' %}"
        });
        $('#btnFrecuenciaActividadesRiesgo').click(function(event) {
            window.location.href = "{% url 'frecuenciaactividades' %}"
        });
        
         $('#btnFrecuenciaControles').click(function(event) {
            window.location.href = "{% url 'frecuenciacontroles' %}"
        });

        $('#btnAreasInvolucradas').click(function(event) {
            window.location.href = "{% url 'areasinvolucradas' %}"
        });

        $('#btnObservacionesAuditoria').click(function(event) {
            window.location.href = "{% url 'observacionesauditoria' %}"
        });

        $('#btnDefinicionProcesos').click(function(event) {
            window.location.href = "{% url 'definicionproceso' %}"
        });

        $('#btnCumplimientoNormativo').click(function(event) {
            window.location.href = "{% url 'cumplimientonormativo' %}"
        });

         $('#btnEventosRiesgo').click(function(event) {
            window.location.href = "{% url 'eventosriesgo' %}"
        });

          $('#btnTransaccionesEstadosFinancieros').click(function(event) {
            window.location.href = "{% url 'transaccionesestadosfinancieros' %}"
        });
          $('#btnUnidadesMedida').click(function(event) {
            window.location.href = "{% url 'unidad_medida' %}"
        });
          $('#btnCriteriosControl').click(function(event) {
            window.location.href = "{% url 'criterios_control' %}"
        });
           $('#btnCriteriosImpacto').click(function(event) {
            window.location.href = "{% url 'criterios_impacto' %}"
        });

            $('#btnCriteriosProbabilidad').click(function(event) {
            window.location.href = "{% url 'criterios_probabilidad' %}"
        });

           $('#btnEscalaControl').click(function(event) {
            window.location.href = "{% url 'escala_control' %}"
        });  

            $('#btnEscalaImpacto').click(function(event) {
            window.location.href = "{% url 'escala_impacto' %}"
        }); 

             $('#btnEscalaProbabilidad').click(function(event) {
            window.location.href = "{% url 'escala_probabilidad' %}"
        }); 
            $('#btnZonasRiesgo').click(function(event) {
            window.location.href = "{% url 'zonas_ingreso' %}"
        });  
            
            

          
        
    </script>
{% endblock %}




		
					     
					
